<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RadarBidClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
    <applicationSettings>
        <RadarBidClient.Properties.Settings>
            <setting name="BidAddressPrefix" serializeAs="String">
                <value>https://paimai2.alltobid.com</value>
            </setting>
            <setting name="CaptchaAddressPrefix" serializeAs="String">
                <value>http://47.103.103.218:8866</value>
            </setting>
            <setting name="EnableAutoBidding" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BidLoginUrl" serializeAs="String">
                <value>/bid/921b37e877a843279394ee48585fdc48/login.htm</value>
            </setting>
            <setting name="BidBiddingUrl" serializeAs="String">
                <value>/bid/921b37e877a843279394ee48585fdc48/bid.htm</value>
            </setting>
            <setting name="EnableAutoUpdate" serializeAs="String">
                <value>True</value>
            </setting>
        </RadarBidClient.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
      <probing privatePath="lib" />
    </assemblyBinding>
  </runtime>
</configuration>
